{% extends 'email/base.html' %}
{% load i18n %}

{% block subject %}
{% blocktrans %}{{ site_name }} - Your password has been successfully changed!{% endblocktrans %}
{% endblock %}

{% block text_body %}
Dear {{ user.full_name }},

Your login password has changed. You may have received this message for the following two reasons:
- A user has been created for you by the system administrator
- Your password has been changed by the system administrator

Your new password is displayed in the box below:

Please enter the site as soon as possible and change your password.
{% endblock text_body %}

{% block html_body %}
    <p style="padding: 0px 0">Dear {{ user.full_name }}<br></p>
    
    <p style="padding: 2px 0;line-height: 2">Your login password has changed.</p>
    <p>You may have received this message for the following two reasons:</p>
    <ul>
        <li>A user has been created for you by the system administrator</li>
        <li>Your password has been changed by the system administrator</li>
    </ul>
    <p style="padding: 2px 0">Your new password is displayed in the box below:</p>
    
    <p style=" text-align: center;padding: 30px">
        <span style="border-radius: 10px;
                    border: 0.5px solid rgba(255, 97, 97, 0.21);
                    background: linear-gradient(180deg, #FFF 0%, #FFF 47%);
                    box-shadow: 0px 2px 11px -5px rgba(0, 0, 0, 0.25);padding: 10px;letter-spacing: 8px">
            {{ password }}
        </span>
    </p>
    <p>Please enter the site as soon as possible and change your password.</p>
{% endblock html_body %}


